<?xml version="1.0"?>
<config>
    <modules>
        <Eltrino_Compatibility>
            <version>1.0.0</version>
        </Eltrino_Compatibility>
    </modules>
    <global>
        <events>
            <resource_get_tablename>
                <observers>
                    <eltrino_compatibility>
                        <type>singleton</type>
                        <class>eltrino_compatibility/observer</class>
                        <method>resourceGetTableName</method>
                    </eltrino_compatibility>
                </observers>
            </resource_get_tablename>
            <controller_action_layout_render_before>
                <observers>
                    <eltrino_compatibility>
                        <type>singleton</type>
                        <class>eltrino_compatibility/observer</class>
                        <method>controllerActionLayoutRenderBefore</method>
                    </eltrino_compatibility>
                </observers>
            </controller_action_layout_render_before>
        </events>
        <models>
            <eltrino_compatibility>
                <class>Eltrino_Compatibility_Model</class>
            </eltrino_compatibility>
        </models>
        <blocks>
            <eltrino_compatibility>
                <class>Eltrino_Compatibility_Block</class>
            </eltrino_compatibility>
        </blocks>
        <helpers>
            <eltrino_compatibility>
                <class>Eltrino_Compatibility_Helper</class>
            </eltrino_compatibility>
        </helpers>
        <resources>
            <eltrino_compatibility_setup>
                <setup>
                    <module>Eltrino_Compatibility</module>
                </setup>
            </eltrino_compatibility_setup>
        </resources>
        <cache>
            <types>
                <eltrino_compatibility module="eltrino_compatibility" translate="label description">
                    <label>Compatibility cache</label>
                    <description>Magento2 modules compatibility cache</description>
                    <tags>COMPATIBILITY</tags>
                </eltrino_compatibility>
            </types>
        </cache>
    </global>
</config>