<?xml version="1.0"?>
<!--
/**
 * The MIT License (MIT)
 *
 * Copyright (c) 2015 Eltrino LLC (http://eltrino.com)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
-->
<config>
    <modules>
        <Eltrino_Compatibility>
            <version>1.0.0</version>
        </Eltrino_Compatibility>
    </modules>
    <global>
        <events>
            <resource_get_tablename>
                <observers>
                    <eltrino_compatibility>
                        <type>singleton</type>
                        <class>eltrino_compatibility/observer</class>
                        <method>resourceGetTableName</method>
                    </eltrino_compatibility>
                </observers>
            </resource_get_tablename>
            <controller_action_layout_render_before>
                <observers>
                    <eltrino_compatibility>
                        <type>singleton</type>
                        <class>eltrino_compatibility/observer</class>
                        <method>controllerActionLayoutRenderBefore</method>
                    </eltrino_compatibility>
                </observers>
            </controller_action_layout_render_before>
        </events>
        <models>
            <eltrino_compatibility>
                <class>Eltrino_Compatibility_Model</class>
            </eltrino_compatibility>
        </models>
        <blocks>
            <eltrino_compatibility>
                <class>Eltrino_Compatibility_Block</class>
            </eltrino_compatibility>
        </blocks>
        <helpers>
            <eltrino_compatibility>
                <class>Eltrino_Compatibility_Helper</class>
            </eltrino_compatibility>
        </helpers>
        <resources>
            <eltrino_compatibility_setup>
                <setup>
                    <module>Eltrino_Compatibility</module>
                </setup>
            </eltrino_compatibility_setup>
        </resources>
        <cache>
            <types>
                <eltrino_compatibility module="eltrino_compatibility" translate="label description">
                    <label>Compatibility cache</label>
                    <description>Magento2 modules compatibility cache</description>
                    <tags>COMPATIBILITY</tags>
                </eltrino_compatibility>
            </types>
        </cache>
    </global>
</config>
